<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sweproject.dao.TaskDao">
    <insert id="addNewTask" useGeneratedKeys="true" keyProperty="taskID">
        INSERT INTO TASK_INFO SET RELEASE_DATE=#{taskInfo.releaseDate},DUE_DATE=#{taskInfo.dueDate},FINISH_DATE=#{taskInfo.leftHours},TASK_TYPE=#{taskInfo.type},DESCRIPTION_1=#{taskInfo.description_1},DESCRIPTION_2=#{taskInfo.description_2},RELEASER=#{taskInfo.releaser},BONOUS_TYPE=#{taskInfo.bonousType},BONOUS_AMOUNT=#{taskInfo.bonousAmount},BONOUS_DESCRIPTION=#{taskInfo.bonousDescription},A_ID_1=#{taskInfo.fromLocation},A_ID_2=#{taskInfo.toLocation},TITLE=#{taskInfo.title}
    </insert>
    <resultMap id="taskInfoMap" type="com.example.sweproject.bean.Task">
            <result column="ID" property="taskID"/>
            <result column="TASK_TYPE" property="type"/>
            <result column="TITLE" property="title"/>
            <result column="RELEASER" property="releaser"/>
            <result column="RELEASE_DATE" property="releaseDate"/>
            <result column="DUE_DATE" property="dueDate"/>
            <result column="FINISH_DATE" property="leftHours"/>
            <result column="A_ID_1" property="fromLocation"/>
            <result column="A_ID_2" property="toLocation"/>
            <result column="DESCRIPTION_1" property="description_1"/>
            <result column="DESCRIPTION_2" property="description_2"/>
            <result column="BONOUS_TYPE" property="bonousType"/>
            <result column="BONOUS_AMOUNT" property="bonousAmount"/>
            <result column="BONOUS_DESCRIPTION" property="bonousDescription"/>
            <result column="CREATE_DATE" property="acceptedDate"/>
            <result column="ACCEPTER_ID" property="accepter"/>
            <result column="STATE" property="state"/>
    </resultMap>
    <resultMap id="taskMap" type="com.example.sweproject.bean.TaskList">
        <collection property="taskList" ofType="com.example.sweproject.bean.Task" javaType="java.util.ArrayList">
            <result column="ID" property="taskID"/>
            <result column="TASK_TYPE" property="type"/>
            <result column="TITLE" property="title"/>
            <result column="RELEASER" property="releaser"/>
            <result column="RELEASE_DATE" property="releaseDate"/>
            <result column="DUE_DATE" property="dueDate"/>
            <result column="FINISH_DATE" property="leftHours"/>
            <result column="A_ID_1" property="fromLocation"/>
            <result column="A_ID_2" property="toLocation"/>
            <result column="DESCRIPTION_1" property="description_1"/>
            <result column="DESCRIPTION_2" property="description_2"/>
            <result column="BONOUS_TYPE" property="bonousType"/>
            <result column="BONOUS_AMOUNT" property="bonousAmount"/>
            <result column="BONOUS_DESCRIPTION" property="bonousDescription"/>
            <result column="CREATE_DATE" property="acceptedDate"/>
            <result column="ACCEPTER_ID" property="accepter"/>
            <result column="STATE" property="state"/>
        </collection>
    </resultMap>
    <resultMap id="taskMap_R" type="com.example.sweproject.bean.TaskList" extends="taskMap">
        <result column="RELEASER" property="userID"/>
    </resultMap>
    <resultMap id="taskMap_A" type="com.example.sweproject.bean.TaskList" extends="taskMap">
        <result column="ACCEPTER_ID" property="userID"/>
    </resultMap>
    <select id="getAcceptedTasksByID" resultMap="taskMap_R">
        SELECT *
        FROM TASK_INFO T JOIN CONTRACT C ON T.ID=C.T_ID
        WHERE RELEASER=#{releaserID}
    </select>
    <select id="getUnAcceptedTasksByID" resultMap="taskMap">
        SELECT *
        FROM TASK_INFO NATURAL JOIN WAITING_TASK
        WHERE RELEASER=#{releaserID}
    </select>
    <select id="getAllTasks" resultMap="taskMap_R">
        SELECT *
        FROM TASK_INFO NATURAL JOIN WAITING_TASK
        WHERE RELEASER!=#{userID}
    </select>
    <select id="getTasksByAccepterID" resultMap="taskMap_A">
        SELECT *
        FROM TASK_INFO T JOIN CONTRACT C ON T.ID=C.T_ID
        WHERE ACCEPTER_ID=#{accepterID}
    </select>
    <insert id="acceptTask">
        INSERT INTO CONTRACT SET ACCEPTER_ID=#{accepterID},T_ID=#{taskID}
    </insert>
    <select id="getTaskInfoByID" resultMap="taskInfoMap">
        SELECT *
        FROM TASK_INFO T LEFT OUTER JOIN CONTRACT C ON T.ID=C.T_ID
        WHERE T.ID=#{taskID}
    </select>
    <update id="updateTaskState">
        UPDATE CONTRACT
        SET STATE=#{state}
        WHERE T_ID=#{taskID}
    </update>
</mapper>