<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sweproject.dao.UserDao">
    <insert id="insert" parameterType="com.example.sweproject.bean.User" useGeneratedKeys="true" keyProperty="userID">
        INSERT INTO USER SET userName=#{userName},password=#{password},authority=0
    </insert>
    <insert id="insertUserInfo">
        INSERT INTO USERINFO SET userID=#{userID}
    </insert>
    <insert id="insertUserDormitory">
        INSERT INTO COMMUNITY SET userID=#{userID}
    </insert>
     <select id="getUserByUserName"  resultType="com.example.sweproject.bean.User">
         SELECT userName,password,userID,authority FROM USER WHERE userName=#{userName}
     </select>
    <update id="saveUserInfo">
        UPDATE USERINFO SET nickname=#{userInfo.nickname},sex=#{userInfo.sex},phoneNumber=#{userInfo.phoneNumber},mail=#{userInfo.mail},studentID=#{userInfo.studentID},department=#{userInfo.department} WHERE userID=#{userID}
    </update>
    <update id="saveUserDormitory">
        UPDATE COMMUNITY SET name=#{address.address},detailAddress=#{address.detailAddress},lng=#{address.lng},lat=#{address.lat} WHERE userID=#{userID}
    </update>
    <insert id="insertUserAddress">
        INSERT INTO USERADDRESS SET userID=#{userID},address=#{address.address},detailAddress=#{address.detailAddress},lng=#{address.lng},lat=#{address.lat}
    </insert>
    <select id="getUserInfo" resultType="com.example.sweproject.bean.UserInfo">
        SELECT * FROM USERINFO WHERE userID=#{userID}
    </select>
    <resultMap id="userAddressMap" type="com.example.sweproject.bean.AddressList">
        <collection property="addressList" ofType="com.example.sweproject.bean.Address">
            <result column="A_ID" property="addressID"/>
            <result column="LANDMARK" property="address"/>
            <result column="DESCRIPTION" property="detailAddress"/>
            <result column="LONGITUTE" property="lng"/>
            <result column="LATITUDE" property="lat"/>
        </collection>
    </resultMap>
    <select id="getUserAddresses" resultMap="userAddressMap">
        SELECT * FROM USER_LOCATION_VIEW WHERE U_ID=#{userID}
    </select>
    <select id="getUserDormitory">
        SELECT C_NAME FROM USER_INFO WHERE U_ID=#{userID}
    </select>
    <select id="getDormitoryList" resultType="String">
        SELECT LANDMARK FROM LOCATIONS WHERE LOCATION_TYPE='宿舍'
    </select>
</mapper>